# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Xcode
#
ios/build/
ios/*.pbxuser
ios/!default.pbxuser
ios/*.mode1v3
ios/!default.mode1v3
ios/*.mode2v3
ios/!default.mode2v3
ios/*.perspectivev3
ios/!default.perspectivev3
ios/xcuserdata
ios/*.xccheckout
ios/*.moved-aside
ios/DerivedData
ios/*.hmap
ios/*.ipa
ios/*.xcuserstate

# Android/IntelliJ
#
android/build/
android/.idea
android/.gradle
android/local.properties
android/*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

example
.git*
*.gif